{% extends 'base.html' %}

    {% block content %}
    <div class="jumbotron">
        <h1><b>PayNGiv</b></h1>
            <p class="lead">É uma plataforma de pagamentos virtuais que busca incentivar aos seus
                utilizadores, a doação de centavos para instituições de caridades cadastradas.
            </p>
    </div>

    <div class="row marketing">
        <div class="col-lg 12">
            <h4 class="text-center">Use PayNGiv para comprar online</h4>
            <p class="text-center">Se você quer comprar online e pagar com o PayNGiv, clique no botão abaixo e crie sua conta.
            <a class="btn btn-lg btn-primary btn-center" href="{% url 'login' %}" role="button">Quero Comprar!</a>
            </p>
            <hr>
        </div>
        <div class="col-lg-6">

            <h4>Crie conta uma PayNGiv para o sua instituição</h4>
            <p>E receba doações online de diversas usuários.
            <a class="btn btn-lg btn-info" href="{% url 'login' %}" role="button">Receber Doações!</a>
            </p>
        </div>
        <div class="col-lg-6">

            <h4>Crie conta uma PayNGiv para o seu negócio</h4>
            <p>E receba pagamentos por seus produtos ou serviços em seu site.
            <a class="btn btn-lg btn-info" href="{% url 'login' %}" role="button">Quero Vender!</a>
            </p>

        </div>
    </div>

{% endblock %}


