{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2><b>Quem Somos</b></h2>
        <div class="well">
            <p class="text-justify"><b><i>PayNGiv</i></b> é uma plataforma de pagamentos virtuais que busca incentivar aos seus utilizadores, a doação de centavos para instituições de caridades cadastradas. Os usuarios poderão pagar suas compras onlines através da nossa plataforma, nas lojas que utilizam nossos serviços, e ainda ajudará  instituições de caridade, doando apenas alguns centavos.</p>

            <p class="text-justify">A <b><i>PayNGiv</i></b> já nasceu com a consiência de sociedade, e busca influênciar os consumidores virtuais a realizar ações sociais no mundo real, para pessoas reais.</p>

            <h3><b>Funciona assim:</b></h3><br>

            <h5><b>Cadastros:</b></h5>
            <p class="text-justify">As instituições de caridade farão o cadastro em nosso sistema. Esse cadastro será analisado pela nossa equipe, para verificar a procedência da instituição, impedindo possíveis fraudes. Após o cadastro aprovado, esta instituição irá compor nossa relação de instituições de caridades disponíveis para doação.</p>

            <p class="text-justify">A loja vendedora irá realizar o cadastro em nosso sistema, e irá informar em seu site, nas formas de pagamento, a integração com nossa plataforma;</p><br>

            <h5><b>Realizando pagamentos:</b></h5>
            <p class="text-justify">Quando o usuário decidir realizar a compra em um de nossos parceiros, ele poderá selecionar o PayNGiv como forma de pagamento, então ele será direcionado para plataforma. É necessário a realização de um simples cadastro, em seguida, irá realizar o pagamento de suas compras. Durante o pagamento será perguntado ao usuário se ele deseja doar R$ 0,50 para uma instituição de caridade, caso afirmativo, será apresentado a lista de instituições cadastradas em nosso sistema, para que o cliente escolha a instituição de sua preferência. Após a escolha da instituição, será solicitado o meio de pagamento que usuário irá utilizar. A plataforma realizará as verificações de crédito do cliente junto a sua operadora, para poder retornar a aprovação ou reprovação da compra.</p>

            <p class="text-justify">Os utilizadores da <b><i>PayNGiv</i></b> poderão ainda acompanhar as suas doações, verificando o total de suas doações, e quanto cada instituição de caridade já recebeu de doações no mês ou no período escolhido.</p>

        </div>
    </div>

{% endblock %}